<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Add Ingredient to Recipe{% endblock title %}


{% block content %}
<h1>Шаг 2</h1>
<h2>Добавьте ингредиент в ваш рецепт: {{ recipe.title }}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить ингредиент</button>
</form>

<h2>Уже добавленные ингредиенты:</h2>
<ul>
    {% for ingredient in ingredients %}
        
            <li>
                <h4>{{ ingredient.ingredient.name }}: {{ ingredient.quantity }}</h4> 
                <a href="{% url 'recipes:del_ingredient' recipe.id ingredient.ingredient_id %}">Delete</a>
            </li>
       
    {% endfor %}
</ul>
<button onclick="window.location.href='{% url 'recipes:single_recipe' recipe.pk %}'"> Все ингредиенты добавленны! </button>
{% comment %} <a href="{% url 'recipes:single_recipe' recipe.pk %}">Все ингредиенты добавленны!</a> {% endcomment %}

{% endblock content %}