{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}
<br>
<br>
    <div>
        <h2>Рецепт: {{ recipe.title|striptags }}</h2>
        <br>
        <hr>
        <h4>Описание: <br>{{ recipe.description|safe }}</h4>
        <br>
        <hr>
        <h4>Ингредиенты : <br>{{ recipe.ingredients|safe }}</h4>
        <br>
        <hr>
        <h4>Инструкция: <br>{{ recipe.instructions|safe }}</h4>
        <hr>
        {% for i in ingredients %}
            <h4>{{ i.ingredient }}: {{ i.quantity }}шт.</h4>
            <a href="{% url 'recipes:del_ingredient' recipe.id i.ingredient_id %}" class="btn btn-danger custom-btn btn-sm">Delete</a>
        {% endfor %}
        <br>
        <div>
            !!!!!!!!!!!!!!
            <ul>
            <h3>Ингредиенты в базе:</h3>
                {% for ingredient in found_ingredients %}
                    <li>{{ ingredient.name }}: id {{ingredient.id}}</li>
                {% endfor %}
            </ul>
            <h3>Стоимость блюда :</h3>
                <li>{{total_cost}}€</li>
            <h3>Каллорийность блюда :</h3>
                <li>{{total_calories}} calories</li>
             
            <h3>Ингредиенты, которых нет в базе данных:</h3>
            <ul>
                {% for ingredient in not_found_ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            !!!!!!!!!!!!!!
        </div>
        <button onclick="window.location.href='{% url 'recipes:edit_recipe' recipe.pk %}'" class="btn btn-success btn-sm">Редактировать рецепт</button>
    </div>
{% endblock content %}
